<h1 mat-dialog-title>Please fill this data to continue</h1>
<hr>
<div mat-dialog-content>
  <form class="mt-4 col-12 p-0">
  <div class="row">
  <div class="col-5 mb-4">
        <table>
<tr></tr>
                    <tr>
                      <th class="text-left">NAME</th>
                    </tr>
                    <tr>
                      <td>
                        <input type="text"/>  
                      </td>
                    </tr>
        </table></div>
        <div class="col-7">
              <table>
                          <tr>
                            <th class="text-center">STATION</th>
                            <th class="text-center">UTC</th>
                          </tr>
                          <tr>
                            <td>
                              <input type="text"/>  
                            </td>
                            <td>
                                <input type="text"/>  
                              </td>
                          </tr>
              </table></div>
              <div class="clearfix"></div>
              <div class="col-4">
                <table>
                            <tr>
                              <th class="text-center">RANK</th>
                            </tr>
                            <tr>
                              <td>
                                <input type="text"/>  
                              </td>
                            </tr>
                </table></div>

                <div class="col-4">
                  <table>
                              <tr>
                                <th class="text-center">STATUS</th>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text"/>  
                                </td>
                              </tr>
                  </table></div>

                  <div class="col-4">
                    <table>
                                <tr>
                                  <th class="text-center">EMPLOYEE NO.</th>
                                </tr>
                                <tr>
                                  <td>
                                    <input type="text"/>  
                                  </td>
                                </tr>
                    </table></div>

        </div>
        <button>submit</button>
  </form>
</div>