<div class="col-12 mt-5">
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title> FLIGHT DATA </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-right mt-4">
        <button class="add" mat-button (click)="openAdd()">
          ADD <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="mt-3 col-12 p-0">
        <div class="row">
          <div class="col-12">
            <table>
              <thead>
                <tr>
                  <th>LEG</th>
                  <th>FLT NO.</th>
                  <th>DATE</th>
                  <th>FROM</th>
                  <th>TO</th>
                  <th>BLOCKS OFF</th>
                  <th>TAKE OFF</th>
                  <th>LANDING</th>
                  <th>BLOCKS ON</th>
                  <th>BLOCK TIME</th>
                  <th>AIR TIME</th>
                  <th>NIGHT TIME</th>
                  <th>TAKE OFF</th>
                  <th>LAND</th>
                  <th>EDIT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-center">
                    <button mat-button (click)="open()">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
