         <div class="row mb-2 m-auto">
                  <div class="col-md-2 p-0">
                    <img class="w-100" src="assets\images\logo.svg" />
                  </div>
                  <div class="col-md-10 top-date m-auto">
                    <div>
<input type="date" name="date" placeholder="1/10/2" />
                    </div>
                  </div>
                </div>
    