<div class="col-12 mt-3"><mat-accordion  multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> CRUISE DATA </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="text-right mt-4"> <button class="add mr-3" mat-button (click)="open()">EDIT <mat-icon>edit</mat-icon></button><button class="add" mat-button (click)="openAdd()">ADD <mat-icon>add</mat-icon></button></div>
    <div class="mt-3 col-12 p-0">
      <div class="row">
        <div class="col-12">
          <table >
              <tr>
                <th rowspan="2">LEG NO</th>
                <th rowspan="2">UTC</th>
                <th rowspan="2">GROSS WT</th>
                <th rowspan="2">FLT LVL</th>
                <th rowspan="2">TAT</th>
                <th rowspan="2">SAT</th>
                <th rowspan="2">MACH</th>
                <th rowspan="2">IAS</th>
                <th  colspan="2">AC PACK</th>
              </tr>
              <tr>
                <th colspan="1">#1</th>
                <th colspan="1">#2</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </table>
          <table >
            <tr>
              <th colspan="10">PARAMETER</th>
            </tr>
            <tr>
              <th colspan="1"></th>
              <th colspan="1">EPR/TQ</th>
              <th colspan="1">N1/NP</th>
              <th colspan="1">EGT/ITT</th>
              <th colspan="1">N2/NH</th>
              <th colspan="1">FUEL FLOW</th>
              <th colspan="1">ENG BLEED</th>
              <th colspan="1">VIB</th>
              <th colspan="1">OIL PRESS</th>
              <th colspan="1">OIL TEMP</th>
            </tr>
            <tr>
              <th>ENGINE#1</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>ENGINE#1</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
</div>
