<h1 mat-dialog-title>Please fill this data to continue</h1>
<hr>
<div mat-dialog-content>
  <form class="mt-4 col-12 p-0">
  <div class="row">
  <div class="col-12 mb-4">
        <table>
              <thead>
                    <tr>
                      <th class="text-left">Serial No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="text"/>  
                      </td>
                    </tr>
                  </tbody>
        </table></div>
        <div class="clearfix"></div>
        <div class="col-6">
              <table>
                    <thead>
                          <tr>
                            <th class="text-center">Leg No</th>
                            <th class="text-center">Page No</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <input type="text"/>  
                            </td>
                            <td>
                                <input type="text"/>  
                              </td>
                          </tr>
                        </tbody>
              </table></div>
              <div class="col-6">
                <table>
                      <thead>
                            <tr>
                              <th class="text-center">COCKPIT</th>
                              <th class="text-center">CABIN</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <input type="text"/>  
                              </td>
                              <td>
                                  <input type="text"/>  
                                </td>
                            </tr>
                          </tbody>
                </table></div>
              <div class="col-12 mt-4">
                    <table>
                          <thead>
                                <tr>
                                  <th class="text-center">AIRCRAFT TYPE</th>
                                  <th class="text-center">AIRCRAFT REGISTRATION</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <input type="text"/>  
                                  </td>
                                  <td>
                                      <input type="text"/>  
                                    </td>
                                </tr>
                              </tbody>
                    </table></div>

        </div>
        <button>submit</button>
  </form>
</div>