<div class="col-12 mt-3"  >
      <mat-accordion  multi>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> PILOT DATA </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="text-right mt-4"> <button class="add" mat-button (click)="openAdd()">ADD <mat-icon>add</mat-icon></button></div>
        <form class=" mt-3 col-12 p-0">
          <div class="row">
            <div class="col-12">
              <table >
                  <tr>
                    <th colspan="1"rowspan="2">S NO.</th>
                    <th colspan="1" rowspan="2">RANK</th>
                    <th colspan="8"rowspan="2">NAME </th>
                    <th colspan="1"rowspan="2">EMPLOYEE NO.</th>
                    <th colspan="1">STATUS</th>
                    <th colspan="2">DUTY ON</th>
                  </tr>
                  <tr>
                        <th>LEG NUMBER</th>
                        <th>STATION</th>
                        <th>UTC</th>
                  </tr>
                  <tr>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="8"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                  </tr>
              </table>
            </div>
          </div>
        </form>
      </mat-expansion-panel></mat-accordion>
    </div>
    