<h1 mat-dialog-title>Please fill this data to continue</h1>
<hr>
<div mat-dialog-content>
  <form class="mt-4 col-12 p-0">
  <div class="row">
  <div class="col-6 mb-4">
        <table>
                    <tr>
                      <th>ZERO FEUL WEIGHT (KG) </th>
                    </tr>
                    <tr>
                      <td>
                        <input type="text"/>  
                      </td>
                    </tr>
        </table></div>

        </div>
        <button>submit</button>
  </form>
</div>