::ng-deep .mat-typography h1{
  font-size: 20px !important;
  font-weight: 600 !important;
}
::ng-deep .mat-dialog-container {
  font-size: 16px;
  width: 600px;
  padding: 34px 40px;
}
::ng-deep .mat-dialog-container button {
  margin-top: 32px;
  float: right;
  background-color: #AE8913;
    border: 0px;
    border-radius: 10px;
    padding: 12px 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 200;
}
td{padding: 0px;}
input{border: 0px;}


