<div class="col-12 mt-3">
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title> DELAY DATA </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-right mt-4">
        <button class="add" mat-button (click)="openAdd()">
          ADD <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="mt-3 col-12 p-0">
        <div class="row">
          <div class="col-12">
            <table>
              <tr>
                <th>CODE</th>
                <th>TIME</th>
                <th class="w-10">EDIT</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-center w-10">
                  <button mat-button (click)="open()">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
