<h1 mat-dialog-title>Please fill this data to continue</h1>
<hr>
<div mat-dialog-content>
  <form class="mt-4 col-12 p-0">
  <div class="row">
  <div class="col-6 mb-4">
              <table>
                    <thead>
                      <tr>ECONOMY </tr>
                          <tr>
                            <th class="text-center">ADULT</th>
                            <th class="text-center">CHILD</th>
                            <th class="text-center">INF</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <input type="text"/>  
                              </td>
                              <td>
                                <input type="text"/>  
                              </td>
                              <td>
                                <input type="text"/>  
                              </td>
                          </tr>
                        </tbody>
              </table></div>
              <div class="col-6">
                <table>
                      <thead>
                        <tr>BUSSINESS</tr>
                            <tr>
                              <th class="text-center">ADULT</th>
                              <th class="text-center">CHILD</th>
                              <th class="text-center">INF</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                  <input type="text"/>  
                                </td>
                                <td>
                                  <input type="text"/>  
                                </td>
                                <td>
                                  <input type="text"/>  
                                </td>
                            </tr>
                          </tbody>
                </table></div>
                <div class="clearfix"></div>
                <div class="col-4">
                  <table>
                        <thead>
                              <tr>
                                <th class="text-center">NR</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                    <input type="text"/>  
                                  </td>

                              </tr>
                            </tbody>
                  </table></div>
                  <div class="col-4">
                    <table>
                          <thead>
                                <tr>
                                  <th class="text-center">CARGO</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                      <input type="text"/>  
                                    </td>
                                </tr>
                              </tbody>
                    </table></div>
        </div>
        <button>submit</button>
  </form>
</div>