<h1 mat-dialog-title>Please fill this data to continue</h1>
<hr>
<div mat-dialog-content>
  <form class="mt-4 col-12 p-0">
  <div class="row">
  <div class=" mb-4">
              <table>
                    <thead>
                          <tr>
                            <th class="text-center">OAT</th>
                            <th class="text-center">ENG#1 (EGT/ITT)</th>
                            <th class="text-center">ENG#2 (EGT/ITT)</th>
                            <th class="text-center">T/O PWR FULL- F REDUCED - R</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <input type="text"/>  
                              </td>
                              <td>
                                <input type="text"/>  
                              </td>
                              <td>
                                <input type="text"/>  
                              </td>
                              <td>
                                <input type="text"/>  
                              </td>
                          </tr>
                        </tbody>
              </table></div>
        </div>
        <button>submit</button>
  </form>
</div>