
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$airfalcon-primary: mat.define-palette(mat.$indigo-palette);
$airfalcon-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$airfalcon-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$airfalcon-theme: mat.define-light-theme((
  color: (
    primary: $airfalcon-primary,
    accent: $airfalcon-accent,
    warn: $airfalcon-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($airfalcon-theme);

/* You can add global styles to this file, and also import other style files */

$air-table: #d7d6d6;
$air-yellow: #ae8913;
$air-border: #b5b4b3;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #000;
}
th {
  background-color: $air-table;
  font-weight: 500;
  padding: 4px 16px !important;
  text-align: center;
}
table {
  width: 100%;
  caption-side: top;
}
td {
  padding: 15px 14px;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  font-size: 13px;

}
th,
td {
border: 1px solid $air-border;
}

caption {
  background-color: $air-table;
  color: #000;
  padding: 6px 10px;
  border: 1px solid $air-border;
}

.top-date input {
  float: right;
  padding: 6px 10px;
  width: auto;
  border: 1px solid $air-border;
}
input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  }
input{    width: 100%;
  padding: 4px 12px;
  margin: 0px;}


.container{max-width: 1440px !important;}
