::ng-deep .mat-accordion .mat-expansion-panel {
      border-radius: 10px !important;
    }
    ::ng-deep .mat-expansion-panel-header-title{font-size: 14px !important;font-weight: 500;}

    ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]){
      box-shadow: none !important;
}
::ng-deep .mat-expansion-panel-header, ::ng-deep .mat-expansion-panel-header.mat-expanded{
     height:auto;background-color: #d7d6d6 !important;
     padding: 14px 20px !important;
}
::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
      background: rgb(215 214 214 / 65%);}
      ::ng-deep .mat-expansion-panel-body {
            padding: 0 !important;
        }
        ::ng-deep .mat-expansion-panel-content{padding-bottom: 14px;}
       ::ng-deep button.add{
            border-radius: 6px;
            border: 0px;
            padding: 4px 30px;
            background-color: #ae8913;
            color: #fff;}
            ::ng-deep .mat-icon {width: 18px !important;height: 18px !important;}
            ::ng-deep .material-icons {font-size: 14px;}
            ::ng-deep .form-end button.mat-button {
                  margin-top: 16px;
                  float: right;
                  background-color: #AE8913;
                    border: 0px;
                    border-radius: 10px;
                    padding: 8px 60px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: 200;
                }
             ::ng-deep   .w-10{width: 10% !important;}


::ng-deep button.mat-button.mat-focus-indicator:hover
  .mat-button-ripple.mat-ripple,
::ng-deep button.mat-button.mat-focus-indicator:hover
  .mat-button-focus-overlay {
  position: initial;
}